  .dc_review_mansory {
    column-count: 4; 
    column-gap: 12px; 
  }

  @media (max-width: 900px) {
    .dc_review_mansory {
      column-count: 2;
    }
  }

.dc_reviews-section{
    width: 100%;
}

.dc_reviews-section_inner-container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 40px 16px;
    text-align: center;
  }

  .dc_reviews-section h2 {
    font-size: 32px;
    margin-bottom: 30px;
  }

  .dc_reviews-title{
    margin-bottom: 32px;
  }

  .dc_reviews-title-mobile{
    display:none;
  }

  h2 .dc_review-stars{
    font-size: 20px;
    margin:0px;
  }
  @media only screen and (max-width:748px){
    .dc_reviews-title{
        display: none;
    }

    .dc_reviews-title-mobile{
    display: block;
    margin-bottom: 16px;
    padding:24px;
    border-radius: 15px;
    background-color: #333;
  }
  .dc_reviews-title-mobile h2{
    margin:0;
    color:#fff;
  }
  }


  @media only screen and (max-width:748px){
    .dc_reviews-section h2 {
    font-size: 24px;
    }
  }

  .dc_review_card {
    padding: 0px;
   display: flex;
   flex-direction: column;
   gap: 12px;
    width: 100%;
    box-sizing: border-box;
    break-inside: avoid;
    margin-bottom: 12px;
  }

  .dc_review_card img {
    border-radius: 12px;
    width: 100%;
  display: block;
  }

  .dc_review_inner-card{
    background-color: #fff;
    border-radius: 8px;
    padding:16px;
  }

  .dc_review-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
  }

  .dc_review_inner-card p{
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
  }

  
  .dc_review-stars {
      color: #ff7a00;
      font-size: 13px;
    }
    
    .dc_review-date {
        color: #888;
    }

    .dc_review-buyer {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 500;
    text-align: left;
  }

  .dc_review-verified-badge {
    
    display: flex;
    justify-content: flex-start;
    gap: 4px;
  }

  .dc_review-verified-badge span {
    font-size: 12px;
    font-weight: 400;
    line-height: 1.4;
    text-align: left;
    text-transform:uppercase;
  }

    
    @media only screen and (max-width:748px) {
      .dc_review-header, .dc_review-date  {
      font-size: 12px;
        }
    .dc_review-stars {
      color: #ff7a00;
      font-size: 10px;
        }

    .dc_review_inner-card p{
        font-size: 12px;
        }

    .dc_review-buyer {
    font-size: 14px;
  }
    }

  