.dc_special-features-box {
    border-radius: 4px;
    border: 1px solid #ccd2d6;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 100%;
    margin: 0px;
    padding: 12px 16px;
    width: 100%;
  }

  .dc_special-features-box__features-container {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  .dc_special-features-box__feature {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: left;
    align-items: flex-start;
  }

  .dc_special-features-box__icon {
    margin-top: 3px;
    width: 14px;
    height: 14px;
  }

  .dc_special-features-box__heading {
    font-size: 16px;
    font-weight: 600;
    line-height: 134%;
    text-align: left;
    margin: 0px;
  }

  .dc_special-features-box__text {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-align: left;
    margin: 0px;
  }