@media (min-width: 1280px) {
  .product {
    padding-inline: 5rem;
  }
}
.product__tax {
  display: none;
}
.grid-icon-box {
  padding: 8px;
}
.grid-icon-box span {
  font-size: 14px !important;
}
@media (max-width: 748px) {
  .grid-icon-box span {
    font-size: 11px !important;
    line-height: 130%;
  }
  .f-grid {
    display: flex;
  }
}
h1 {
  font-size: 36px !important;
  font-weight: 500 !important;
}
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 24px !important;
  }
}
