.dc_free-gift-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    background-color: #f4faf3;
    border: 1px solid #116903;
    height: 110px;
    justify-content:space-between;
  }

  .dc_free-gift-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 16px;
    height: 100%;
  }

  .dc_free-gift-tag,
  .dc_free-gift-product-name {
    font-weight: 500;
  }

  .dc_free-gift-tag {
    align-items: center;
    background-color: #116903;
    border-radius: 4px;
    color: #fff;
    display: flex;
    font-size: 12px;
    gap: 4px;
    text-transform: uppercase;
    padding: 2px 6px;
    width: fit-content;
  }
  @media only screen and (max-width:768px){
    .dc_free-gift-tag {
    font-size:10px;
    }
  }

.dc_free-gift-locker-icon {
}

.dc_free-gift-locker-icon svg {
  width:10px;
  height:10px;
}

.dc_free-gift-locker-icon svg path {
  fill: #fff !important;
}

  .dc_free-gift-product-name,
  .dc_free-gift-product-description {
    margin: 0px;
  }

  .dc_free-gift-product-name {
    font-size: 16px;
    line-height: 1.2;
  }

  .dc_free-gift-product-description {
    color:#676767;
    font-size: 14px;
    font-weight: 500;
    font-family: "Manrope", sans-serif;
    line-height: 1;
    margin-top:-3px;
  }

  @media only screen and (max-width:768px){
    .dc_free-gift-product-name {
    font-size: 14px;
    line-height: 1;
    margin-top:2px;
  }

  .dc_free-gift-product-description {
    font-size:12px;
  }
  }

  .dc_free-gift-image {
    padding-top: 12px;
    width: 117px;
    max-height: 100%;
    overflow: hidden;
  }