.dc-trust-card {
    border-radius: 4px;
    padding: 16px;
    max-width: 100%;
  }

  .dc_trust-item__icon{
    width: 18px;
    height: 18px;
  }

  .dc-trust-card__title {
    margin: 0 0 12px;
    font-size: 16px;
    font-weight: 600;
  }

  .dc-trust-list {
    border-top: 1px solid #ccd2d6;
  }

  .dc-trust-item + .dc-trust-item {
    border-top: 1px solid #ccd2d6;
  }

  .dc-trust-item__header {
    width: 100%;
    background: transparent;
    border: 0;
    padding: 14px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-align: left;
  }

  .dc-trust-item__header:hover {
    cursor: pointer;
  }

  .dc-trust-item__left {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 16px;
    font-weight: 400;
    min-width:0;
  }

  .dc-trust-item__left p {
    margin: 0;
    line-height: 134%;
    word-break: break-word;
    white-space: normal;
  }

  .dc-trust-item__chevron {
    font-size: 18px;
    color: #333;
    transform: rotate(0deg);
  }

  .dc-trust-item.is-open .dc-trust-item__chevron {
    transform: rotate(90deg);
  }

  .dc-trust-item__content {
    display: none;
    padding: 0 0 14px 32px;
    color: #555;
    font-size: 16px;
    font-weight: 400;
  }

  .dc-trust-item__content p{
    margin:0px;
  }

  .dc-trust-item.is-open .dc-trust-item__content {
    display: block;
  }